apiVersion: v1
kind: Secret
metadata:
  name: swapams--secret
  namespace: swapams
  labels:
    app: swapams
    version: 1.0.0
type: Opaque
stringData:
    DJANGO_DB_HOST: ''
    DJANGO_DB_USER: ''
    DJANGO_DB_PASSWORD: ''
    DJANGO_DB_NAME: ''
    DJANGO_DB_PORT: '3306'
    DJANGO_DB_WRITE: ''
    DJANGO_DEBUG: False